.Header {
  width: 100%;
}

hr {
  margin: 24px 0 18px;
}

.sub-heading {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-secondary);
}

@media (min-width: 660px) {
  hr {
    display: none;
  }
  .Header {
    display: grid;
    grid-template-columns: 1fr 140px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
}
