body {
  /** default - light mode **/
  --background: hsl(0, 0%, 100%); /* White */
  --top-background-pattern: hsl(225, 100%, 98%); /* Very Pale Blue */
  --card-background: hsl(227, 47%, 96%); /* Light Grayish Blue */
  --text-secondary: hsl(228, 12%, 44%); /* Dark Grayish Blue */
  --text-primary: hsl(230, 17%, 14%); /* Very Dark Blue */
  --text-secondary-alt: hsl(228, 12%, 44%); /* Dark Grayish Blue */
  --text-link: hsl(205, 74%, 54%);
  --card-background-hover: hsl(232, 33%, 91%);

  /** toggler **/
  --toggle-background: hsl(229, 20%, 74%); /* Darker grey */
  --toggle-handle: hsl(222, 50%, 96%); /* Lighter grey */
  --toggle-gradient-start: hsl(205, 74%, 54%);
  --toggle-gradient-end: hsl(154, 53%, 54%);

  /* trend */
  --trend-up: hsl(163, 72%, 41%);
  --trend-down: hsl(356, 69%, 56%);
}

.App.dark {
  /** dark mode **/
  --background: hsl(228, 5%, 18%); /* Very Dark Blue */
  --top-background-pattern: hsl(232, 19%, 15%); /* Very Dark Blue */
  --card-background: hsl(228, 28%, 20%); /* Dark Desaturated Blue */
  --text-secondary: hsl(228, 34%, 66%); /* Desaturated Blue */
  --text-primary: hsl(0, 0%, 100%); /* White */
  --text-secondary-alt: hsl(0, 0%, 100%); /* White */
  --text-link: hsl(154, 53%, 54%);
  --card-background-hover: hsl(228, 26%, 27%);
}
